<%
  var postList
  var title = page.year ? page.year + (page.month ? '/' + page.month : '') :  __('archive_a')

  if (page.category) {
    site.categories.forEach(item => {
      if(item.name === page.category)
        postList = item.posts.slice()
    })
    title = page.category
  } else if (page.tag) {
    site.tags.forEach(item => {
      if(item.name === page.tag)
        postList = item.posts
    })
    title = "#" + page.tag
  } else {
      postList = site.posts
  }
%>

<div class=row>
  <div class=col-sm-12>
    <%- partial('_partial/header.ejs', {headerTitle: title}) %>
    <section class='main archive-container'>
      <% postList.each(function(item){ %>
        <%- partial('_partial/article-archive', {item}) %>
      <% }); %>
    </section>
  </div>
</div>
