<div class=row>
  <div class=col-sm-12>
    <%- partial('_partial/header.ejs', {headerTitle: config.title}) %>
    <section class=main>
      <% page.posts.forEach((item, index) => { %>
        <%- partial('_partial/article-short', {item, index}) %>
      <% }) %>
    </section>
  </div>
</div>

<%- partial('_partial/pagination') %>
