<% if (site.posts.length){ %>
  <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 footer-about'>
    <h2><%- __('recent_posts') %></h2>
    <ul>
      <% site.posts.sort('date', -1).limit(4).each(function(post){ %>
        <li>
          <a class=footer-post href='<%- url_for(post.path) %>'><%= post.title.substring(0, 25) %></a>
        </li>
      <% }) %>
    </ul>
  </div>
<% } %>
