<meta charset=utf-8>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name=viewport content='width=device-width, initial-scale=1'>
<title><%- page.title || config.title %></title>
<meta name=author content='<%- config.author %>'>
<meta name=description content='<%= page.description %>'>
<!--[if IE]>
  <meta http-equiv=refresh content='0, http://browsehappy.osfipin.com'>
<![endif]-->

<!-- Bootstrap Core CSS -->
<link rel=stylesheet href=//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css>
<!-- Custom Fonts -->
<link rel=stylesheet href=//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css>
<!-- Gallery -->
<link rel=stylesheet href=//cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.min.css>
<!-- Custom CSS -->
<%- css('css/style.css') %>
