code
  color $greyTextColor
  background rgba(144, 144, 144, 0.1)

figure.highlight
  font-family monospace
  color $greyTextColor
  border-top 1px solid $mainColor1
  background rgba(144, 144, 144, 0.1)
  overflow-x auto
  margin 1.5em 0
  figcaption
    padding-top 10px
    &:before
      content "\f016"
      font-family FontAwesome
      margin 0 20px 0 50px
    a
      margin-left 10px
  table
    margin 0 !important
    tbody
      tr
        border-top 0 !important
        background none !important
        td
          &.gutter
            width 40px
            text-align right
          padding 8px !important
          .line
            height 1.45em
          pre
            margin-bottom 0
            color $greyTextColor
            .comment, .quote
              color #5c6370
              font-style italic
            .doctag, .keyword, .formula
              color #c678dd
            .section, .name, .selector-tag, .deletion, .subst
              color #e06c75
            .literal
              color #56b6c2
            .string, .regexp, .addition, .attribute, .meta-string
              color #98c379
            .built_in, .class .title
              color #e6c07b
            .attr, .variable, .template-variable, .type, .selector-class, .selector-attr, .selector-pseudo, .number
              color #d19a66
            .symbol, .bullet, .link, .meta, .selector-id, .title
              color #61aeee
            .emphasis
              font-style italic
            .strong
              font-weight bold
            .link
              text-decoration underline
