header
  padding-top 60px
  .logo
    a, a:link, a:visited, a:active
      border-bottom none
    margin 0 auto
    .title
      font-size 3rem
      text-align center
      line-height 100px
      color $mainColor1
      font-family $fontTitle
      text-shadow $titleTextShadow
      @media $xs
        font-size 2rem
